In [136]:
import pandas as pd
data = pd.read_csv('ratings.csv')
res = data[(data.rating == 5)].groupby('movieId').agg({'rating':'count'}).sort_values( 'rating', ascending=False)
res.head(1)

         rating
movieId
318         153

In [137]:
import pandas as pd
data = pd.read_csv('power.csv')
res = data[(data.country.isin(['Latvia', 'Estonia', 'Lithuania']))&
(data.year.isin(['2005','2006','2007','2008','2009','2010']))&
(data.category.isin(['4','12','21']))&
(data.quantity>0)].groupby('country').agg({'quantity':'sum'})
res.head(3)

           quantity
country
Estonia     63440.0
Latvia      54844.0
Lithuania  122296.0

In [138]:
import pandas as pd
url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
res_1 = pd.read_html(url, attrs = {'class': 'quote_list'}, encoding='utf-8')
res_1

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB      1016872      -              1022006
 1          NaN            EUR/RUB       892935      -               895850
 2          NaN            USD/RUB       736193      -               738989
 3          NaN            JPY/RUB        07029      -                07065
 4          NaN            CNY/RUB       113995      -               114450
 5          NaN            CHF/RUB       826798      -               830119
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        12129      -                12119
 8          NaN            EUR/GBP        08782      -                08764
 9          NaN            EUR/JPY      1270410      -              1267800
 10         NaN            EUR/CHF        10802      -                10792
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        08244      -                08252
 13         NaN            USD/GBP        07241      -                07232
 14         NaN            USD/JPY      1047335      -              1046230
 15         NaN            USD/CHF        08904      -                08905
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        07900      -                07900
 18         NaN            JPY/GBP        00069      -                00069
 19         NaN            JPY/USD        00096      -                00096
 20         NaN    JPY/CHF (100:1)        08500      -                08500
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        13811      -                13831
 23         NaN            GBP/JPY      1446600      -              1446567
 24         NaN            GBP/EUR        11386      -                11413
 25         NaN            GBP/CHF        12300      -                12316
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        12300      -                12316
 28         NaN            EUR/CHF        10802      -                10792
 29         NaN    JPY/CHF (100:1)        08500      -                08500
 30         NaN            USD/CHF        08904      -                08905
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       336593      -               337894
 33         NaN            USD/UAH       277500      -               278825
 34         NaN            CHF/UAH       311587      -               313146
 35         NaN            GBP/UAH       383310      -               385531

           %  Абсолютное значение     Время
 0   -0,50 %               -05135  19:17:00
 1   -0,33 %               -02915  19:17:00
 2   -0,38 %               -02796  19:17:00
 3   -0,51 %               -00036  19:17:00
 4   -0,40 %               -00454  19:17:00
 5   -0,40 %               -03321  19:17:00
 6         %  Абсолютное значение     Время
 7    0,09 %                00011  19:17:00
 8    0,21 %                00019  19:17:00
 9    0,21 %                02610  19:17:00
 10   0,09 %                00010  19:17:00
 11        %  Абсолютное значение     Время
 12  -0,09 %               -00008  19:15:00
 13   0,12 %                00008  19:17:00
 14   0,11 %                01105  19:17:00
 15  -0,01 %               -00001  19:17:00
 16        %  Абсолютное значение     Время
 17  -0,20 %                00000  19:16:00
 18   0,00 %                00000  19:17:00
 19  -0,11 %                00000  19:16:00
 20  -0,11 %                00000  19:17:00
 21        %  Абсолютное значение     Время
 22  -0,14 %               -00020  19:17:00
 23   0,00 %                00033  19:17:00
 24  -0,23 %               -00027  19:17:00
 25  -0,13 %               -00016  19:17:00
 26        %  Абсолютное значение     Время
 27  -0,13 %               -00016  19:17:00
 28   0,09 %                00010  19:17:00
 29  -0,11 %                00000  19:17:00
 30  -0,01 %               -00001  19:17:00
 31        %  Абсолютное значение     Время
 32  -0,39 %               -01301  19:15:00
 33  -0,48 %               -01326  19:15:00
 34  -0,50 %               -01559  19:17:00
 35  -0,58 %               -02221  19:17:00  ]